/* Style the body */
* {
    color: #D7DBFF;
    font-family: 'Poppins';
    font-style: normal;
    text-decoration: none;
    /* position: absolute; */
}

.backGrimg {
    width: 100%;
    overflow: visible;
    position: absolute;
    transform: translateY(-278px);
    /* transform: translateX(-10px); */
    z-index: -600;
    background: linear-gradient(144.02deg, #E4E7FF 31.27%, rgba(255, 255, 255, 0) 97.18%);
}

.backGrimg img {
    background-image: url(../img/BackgroundBubble.png);
    background-repeat: no-repeat;
    position: absolute;
    background-position-x: -204px;
    background-position-y: -145px;
}

.mar-10 {
    margin-right: 10px;
}

body {
    position: absolute;
    margin: 0;
    /* background: #E5E5E5; */
    /* height: 100%; */
    /* background-image: url(img/BackgroundBubble-1.png); */
    /* margin-left: 150px;
    margin-right: 150px; */
}

/* .header {
    margin: 150px;
} */


/* Header/logo Title */
.block2 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

.block2 .txt {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: #091156;
    margin-left: 150px;
    margin-right: 42px;
}

.block2 .txt p {
    color: #091156;
}

.block2 .txt h1 {
    color: #091156;
    font-size: 48px;
    line-height: 44px;
}

.block2 img {
    margin-left: 30px;
    margin-top: 24px;

}

.block2 button {
    float: left;
    border-radius: 50px;
    width: 158px;
    height: 52px;
    background: #FF64AE;
    margin-top: 24px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.block2 button:hover {
    background-color: #f8f3f3;
    color: #FF64AE;
    border: none;
}

.slideBtn {
    display: flex;
    justify-content: center;
    align-items: center;


}

.slideBtn div {
    width: 14.82px;
    height: 3.09px;
    border-radius: 50px;
    background: #EEEEEE;

}

.slideBtn .i {
    border-radius: 50px;
    width: 25.31px;
    height: 8.15px;
    background: #414880;
    margin: 0 8px;

}

.slideBtn {
    margin-top: 130px;
}



.navbar img {
    width: 258px;
    height: 63px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 41px;
}


.navbar {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

/* Style the top navigation bar */


/* Style the navigation bar links */
.navbar a {
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    float: left;
    display: block;
    color: #8B8B8B;
    text-align: center;
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 59px;
    letter-spacing: 0.12em;

    /* text-decoration: none; */
    /* width: 450px;
    height: 25px; */
}

/* Right-aligned link */
.navbar button.right {
    float: right;
    border-radius: 50px;
    width: 158px;
    height: 52px;
    margin-left: 50px;
    background: #FF64AE;
    margin-top: 45px;
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.navbar button.right:hover {
    background-color: #f8f3f3;
    color: #FF64AE;
    border: none;
}


/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
    border: none;
}


/* .ImBackground {
    background-image: url(/img/BackgroundBubble-1.png);
    position: absolute;
    z-index: 1000;
} */

.CoreService {
    margin-top: 131px;

}

.TitleDesc {
    font-family: 'Poppins';
    font-style: normal;
    text-align: center;
    /* letter-spacing: 0.1em; */
}

.TitleDesc div.tt1 {
    color: #FF64AE;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
}

.TitleDesc h1 {
    color: #091156;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */

    text-align: center;
}

.TitleDesc p {
    color: #8B8B8B;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1em;


}

.box {
    display: flex;
    justify-content: center;
    margin-top: 82px;
    gap: 56px;
    z-index: 1000;
    /* margin-right: 74px; */
}

.mt-52 {
    margin-top: 52px;
}

.box h1.name_ser {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    /* or 22px */

    text-align: center;

    color: #091156;

}

.box p.infser {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #8B8B8B;
}

.box div:not(.contarct) {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 343px;
    height: 458px;
    background: #FFFFFF;
    border-radius: 42px;
    box-shadow: 0px 25px 50px 25px #F7F7FF;
}

.AboutUs {
    display: flex;
    background-image: url(/img/BackgroundBubble-1.png);
    background-repeat: no-repeat;
    background-position: top left;
    margin-left: 150px;
    gap: 70px;
    justify-content: center;


}



.trnah img {
    margin-top: 400px;

}

.IforButton {
    margin-top: 400px;
}

.inforAboutUs .Abu {
    /* position: absolute; */
    /* width: 73px;
    height: 20px;
    left: 151px;
    top: 1802.44px; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */


    color: #FF64AE;
}


.inforAboutUs .Abus {
    /* position: absolute; */


    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.11em;

    color: #8B8B8B;
}

.inforAboutUs h1 {
    /* position: absolute; */

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 125%;
    /* or 45px */


    color: #091156;
}

.ButtonG {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    gap: 44px;
}

.AboutUs {
    transform: translateY(-250px);
    height: 1000px;
    background-image: url(../img/BackgroundBubble-1.png);
    background-repeat: no-repeat;
    background-position: right;

}

.LearnBtn {

    border-radius: 50px;
    width: 158px;
    height: 52px;
    margin-left: 50px;
    background: #FF64AE;
    /* margin-top: 45px; */
    font-family: 'Poppins';
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
}

.LearnBtn:hover {
    background-color: #f8f3f3;
    color: #FF64AE;
    border: none;
}

.playBttn {
    /* position: absolute; */
    display: flex;
    width: 213px;
    height: 49px;
    align-items: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1em;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    color: #8B8B8B;
    gap: 13px;
}

.box .Abu {
    /* position: absolute; */
    margin-top: 50px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    /* identical to box height, or 20px */


    color: #FF64AE;
}

.marh {
    width: 424px;
    height: 626px;
}

.box .contarct {

    display: flex;
    align-items: center;
    justify-content: center;

}

.FormContra {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.conTact {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Bgbb3.png);
    background-repeat: no-repeat;
}

.conTact .ttForm p {
    color: #FF64AE;
}

.conTact .ttForm h1 {
    color: #091156;
}

.conTact .ttForm h5 {
    color: #8B8B8B;
}

.FormContra {
    max-width: 520px;


}

.FormContra input {

    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    outline: none;
    max-width: 520px;
    /* height: 61.58px; */
    padding: 20px;


}

.FormContra input::placeholder {

    color: #C5C5C5;


}

.FormContra input.LastName {
    float: right;

    /* width: 200px; */
}

.FormContra button {

    width: 248px;
    height: 58px;
    background: #FF64AE;
    box-shadow: 0px 17px 22px #FFEDF6;
    border-radius: 50px;
    border: none;
    margin-top: 50px;
    color: #FFFFFF;

}

.FormContra button:hover {
    background-color: #f8f3f3;
    color: #FF64AE;
    border: none;
}

.FormContra textarea {
    max-width: 520px;
    resize: none;
    height: 239.47px;
    left: 770px;
    top: 3861.68px;

    background: #FFFFFF;
    border: 1px solid #D9DDFE;
    border-radius: 15px;
    padding: 20px;

}

.FormContra textarea::placeholder {

    color: #C5C5C5;


}

.ttForm {
    margin-top: 140px;
    margin-left: 200px;

}

.FormContra .FnLName {
    display: flex;
    gap: 20px;
}

.SiteFooter {
    background-image: url(../img/Footer\ BG.png);
    background-repeat: no-repeat;
    height: 540px;
    position: relative;

}

.SiteFooter .logoim {
    display: flex;
    position: absolute;
    left: 180px;
    top: 180px;
    width: 995px;
}

.w3-a {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    color: #D7DBFF;
}

.iconContact {
    display: flex;
    position: absolute;
    left: 180px;
    top: 442px;
    /* width: 995px; */
    gap: 410px;
    align-items: center;
    justify-content: center;
}

.icn {
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}

.hreff {
    color: #D7DBFF;

}

.BtnTotop button {
    display: flex;
    position: absolute;
    top: 380px;
    left: 1300px;
    height: 36px;
    width: 36px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.navbar button.btnHbgIcn {
    display: none;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style-type: none;
}